.beginTemplate {
    width: 55%;
    height: 65%;
    margin: 0 auto;
    position: absolute;
    top: 60%;
    right: auto;
    bottom: auto;
    left: 50%;
    padding: 20px;
    background-color: #dbc08b29;
    border-radius: 10px;
    transform: translateY(-50%) translateX(-50%);
}
