#header {
    text-align: center;
    color: black;
    font-size: 180%;
    background: #bac5c3;
    width: 100%;
    height: 7vh;
}

h1 {
    font-size: 200%;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin:0
}
