.progress-bar-container {
    width: 40%;
    height: 40px;
    left: 30%;
    border: 2px solid pink;
    border-radius: 0;
    overflow: hidden;
    position: absolute;
    top: 90%;


  }
  
  .progress-bar {
    content: "";
    width: 0%;
    height: 100%;
    background-color: pink;
    position: absolute;
    top: 0;
    left: 0;
    animation: progress-animation 2s ease-out forwards;
  }
  
  /* Animation Keyframes */
  @keyframes progress-animation {
    0% {
      width: 0%;
    }
    100% {
      width: current / total * 100%;
    }


}
  
  .progress-bar span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-weight: bold;
    color: #000;
    animation: percent-animation 2s ease-out forwards;
  }

  @keyframes percent-animation {
    0% {
      content: "0%";
    }
    100% {
      content: current / total * 100 + "%";
    }
}
  