.ScreenViewer {
    position: absolute;
    left: 0px;
    width: 15vw;
    height: 70%;
    background-color: transparent;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-35%);
}

.rectangle-list-item {
    background-color: white;
    border: 1px solid #d9dddd;
    height: 200px;
}