.TemplateContainer {
    position: absolute;
    top: 17%;
    right: 0;
    width: 20%;
    height: 35%;
    background-color: rgb(235, 226, 226);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    border: 1px solid black;
  }