.header {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #df992fd2;
    border-radius: 10px;
  }
  
  .header p {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    text-align: center;
  }


  .textContainer1 {
    width: 50%;
    height: 5%;
    margin: 0 auto;
    padding: 20px;
    background-color: #7f6e4ed2;
    border-radius: 10px;
    top: 50%;
  transform: translateY(60%);
}

.textContainer2 {
  width: 50%;
  height: 65%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fbc0497a;
  border-radius: 10px;
  top: 50%;
  transform: translateY(10%);
}

.textContainer3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  height: 30%;
  background-color: #931add7a;
  padding: 20px;
  border-radius: 10px;
  transform: translateY(10%);
}
