.addButton{
    background-color: transparent;
    border: none;
    color: #000000ec;

    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px 5px;
    cursor: pointer;
    
}