.popup {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(158, 57, 57);
    padding: 20px;
    border: 1px solid black;
    z-index: 1;
  }