.popup {
  position: relative;
  align-items: flex-start;
  text-align: center;
  top: 10%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    background-color: rgb(158, 57, 57);
    padding: 20px;
    border: 1px solid black;
    z-index: 1;
  }