.loginButton {
    background-color: #27939b;
    border: none;
    color: rgba(255, 255, 255, 0.925);
    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }