.loginButton {
    background-color: #27939b;
    border: none;
    color: rgba(255, 255, 255, 0.925);
    
    padding: 15px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 20px 2px;
    cursor: pointer;
  }